vti_encoding:SR|utf8-nl
vti_author:SR|LAPTOP-00TTMJI7\\Asus
vti_modifiedby:SR|LAPTOP-00TTMJI7\\Asus
vti_timelastmodified:TR|24 Nov 2023 19:11:34 -0000
vti_timecreated:TR|18 Nov 2023 17:06:20 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|off-campus.html vertica.html premium++.html dual.html apartment.html premium.html fortune.html standard.html default.dwt aboutus.html index.html on-campus.html Satellite.html
vti_nexttolasttimemodified:TW|24 Nov 2023 19:10:31 -0000
vti_cacheddtm:TX|24 Nov 2023 19:11:34 -0000
vti_filesize:IR|1102
vti_cachedlinkinfo:VX|S|background.jpg S|APU\\ Logo1.png S|footer.jpg
vti_cachedsvcrellinks:VX|FSUS|background.jpg FSUS|APU\\ Logo1.png FSUS|footer.jpg
